<!DOCTYPE html>
<html>
<head>
    <title>Arte plus7 viewer - Unofficial</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="refresh" content="3">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
<p>Server starting</p>
<p>Arte videos are processed for you. You will be redirected in 3 seconds.</p>
</body>
</html>