body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #202020;
}
a:hover {
  color: #4a4a4a;
}
a:visited {
  color: #4a4a4a;
}

.show img {
  float: left;
  padding-right: 1em;
}

.show, .hiddenpinned {
  clear: left;
  overflow: auto;
  margin-top: 3em;
}

.hiddenpinned {
  display: none;
}

#pinnedshows .hiddenpinned {
  display: block;
}

.show.new {
  /*background-color: #FA1C72;*/
  /*background-clip: padding-box;*/
  /*color: white;*/
  background-image: url("new.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 2em;
}

.show h2{
  margin-top: 0;
  margin-bottom: 0;
}

.showtext {
  margin-top: 0;
}

.subtitle, .subtitle a {
  font-size: 0.7em;
  text-underline: none;
}

.pin {
  background-image: url("pin.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  position: absolute;
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.header {
  top: 0;
  background-color: white;
}

.header h1 {
  margin-bottom: 5px;
  font-size: 1.3em;
}

.main {
  width: 800px;
  margin: 0 auto;
}

#channels {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 9999;
}

.channelfilter {
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
}

#shows {
  float: left;
  flex-grow: 1;
}

#pinnedshows {
  width: 0;
  padding-top: 2em;
}

/* Fixes Firefox anomaly */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}