{
  "env": {
    "browser": true,
    "jquery": true,
  },
  "parserOptions": {
    "sourceType": "script"
  },
  "globals": {
    "LazyLoad": true,
    "Lockr": true,
  },
  "rules": {
    "strict": 0
  }
}